@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.nav__links{

    list-style: none;

}

.nav__links li{

    display:inline-block;
    padding: 0px 20px;

}

.nav__links li a{

    transition: all 0.3s ease 0s;

}

.main-row-content{

    margin:100px;

}

.body_color{

    background-color:aliceblue;

}


.white_style{

    background-color:white
}

.float_style{

    float:left;
}

.thumbnail_margin{

    margin:25px;
}

.h3_border{

    border-bottom: 2px solid plum;

}
